.container {
  background-color: #ffffff;
  width: auto;
  position: relative;
}

#container-about{
  float: right;
  width: 33.33%;
  margin-right: 90px;
}

#container-text-about {
  margin-left: 100px;
  margin-right: 570px;
}

#container-contact {
  margin-left: 100px;
}

.row {
  background-color: red;
  width: 33.33%
  float: left;
  margin: 3px;
}

.images {
   width: 100%;
   height: auto;
   margin: 10px;
   border-radius: 5px;
 }

 .overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .07s ease;
   background-color: #red;
 }

 .row:hover .overlay {
  opacity: 0.9;
}

.text {
  color: 222;
  font-size: 17px;
  font-family: 'Arial';
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.paragraph {
  color: #222;
  font-size: 14px;
  font-family: 'Arial';
  text-transform: none;
  font-weight: 400;
}

/* Bootstrap navbar style */
.nav.navbar-nav.navbar-right {
  float: right;
  width: 125px;
  padding: 12px;
}

.navbar-brand {
  height: 50px;
  padding: 0px;
}

.navbar-brand>img {
  margin-left: 80px;
}

.navbar.navbar-default{
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 20px;
}

/* home button style code */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #222;
    background-color: #ffffff;
}

/* menu items colour */
.navbar-default .navbar-nav>li>a {
  color: #222;
}

/* Dropdown */
.navbar-default.navbar-nav>.open>a,
.navbar-default.navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #222;
  background-color: #ffffff;
}

/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #222;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #222;
}

/* style contact form */
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 213px;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 8%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#h3 {
  margin-left: 106px;
}

body {
  padding-top: 90px;
}

/* blog articles size */
.article {
  padding-left: 250px;
  padding-right: 250px;
}
